/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
  /* Used to clear styling on button that has inner visual elements */
  .tw-clear-button {
    @apply tw-border-none hover:tw-bg-transparent hover:tw-border-none focus:tw-bg-transparent focus:tw-border-none disabled:tw-opacity-50;
  }
}

.tw-s-overlay {
  opacity: .4;
}


/* RESET LIST (All classes should be named magento-svelte for easy removing one day */

.svelte-component input[type="number"] {
  border-radius: unset;
  height: auto;
  width: auto;
}

.svelte-component button {
  pointer-events: unset;
  opacity: unset;
  min-width: unset;
}

.magento-svelte-select input[type="text"] {
  height: auto;
  border: unset;
  position: absolute;
}


button.magento-svelte-button:focus {
  background-color: #005720;
  border-color: #005720;
  color: white;
}

svg.magento-svelte-svg {
  background-color: white;
}
