/* @import "tailwindcss"; */


@tailwind base;
@tailwind components;
@tailwind utilities;


.tw-s-overlay {
  opacity: .4;
}


/* TO DO use variables */
/* .svelte-component h1 {
  font-family: 'LantmannenSerif', serif;
  font-weight: 700;
  font-size: 3.125rem;
  color: #1e6e37;
} */


/* RESET LIST (All classes should be named magento-svelte for easy removing one day */

.svelte-component input[type="number"] {
  border-radius: unset;
  height: auto;
  width: auto;
}

.svelte-component button {
  pointer-events: unset;
  opacity: unset;
}


.magento-svelte-select input[type="text"] {
  height: auto;
  border: unset;
  position: absolute;
}

button.magento-svelte-button:focus {
  background-color: #005720;
  border-color: #005720;
  color: white;
}


